@use "sass:color";
@use "../libs/functions";
@use "../libs/skel";

.categories {
  @include skel.vendor('display', 'flex');
  @include skel.vendor('flex-wrap', 'wrap');
  @include skel.vendor('justify-content', 'center');

  border-top: 0 !important;

  & + * {
    border-top: 0 !important;
  }

  & > li {
    list-style: none;
    & > .button {
      margin: 0.3em;
      &:focus {
        outline-color: functions.palette(highlight);
      }
      &:active {
        background-color: functions.palette(fg);
      }
    }
  }

  &:before {
    @include skel.vendor('transition', 'opacity 0.5s ease');
  }

  &:after {
    background-color: color.adjust(functions.palette(bg), $alpha: -0.75);
    content: '';
  }

  &:hover {
    &:before {
      opacity: 0;
    }
  }
}
